
h1= 'Create a new Spime'

form(action=urlFor(), method='post')
  label
    | Name
    input(type='text', name='name')
  label
    | Description
    input(type='text', name='description')
  label
    | Private
    select(name="privacy")
      option(value="private") Private
      option(value="public") Public
  input(type="submit", name="Submit")