
form(action=urlFor(), method='post')
  label
    | Name
    input(type='text', name='name', value = spime.name)
  label
    | Description
    input(type='text', name='description', value = spime.description)
  label
    | Privacy
    select(name="privacy")
      privacies = [ 'private', 'public']
      for privacy in privacies
        option(selected=spime.privacy == privacy) #{privacy}

  input(type="submit", name="Submit")