doctype 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    
    |<style type="text/css">
    |body {
    |    padding-top: 60px;
    |    padding-bottom: 40px;
    |  }
    |</style>

    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')
    
    link(rel='apple-touch-icon-precomposed', size='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', size='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', size='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    
  body
  
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
            
          a.brand(href='/')
            |Spimr
          .nav-collapse.collapse
            ul.nav
              li
                a(href='/about') About
              li
                a(href='/contact') Contact
            
            if (locals.user)
              form.navbar-form.pull-right(action='/sessions', method='post', name="logout")
                input(type='hidden', name='_method', value='delete')
                button.btn(type='submit') Logout
            else
              form.navbar-form.pull-right(action='/sessions', method='post', name="login")
                input.span2(type='text', name='email', placeholder='Email') 
                input.span2(type='password', name='password', placeholder='Password') 
                button.btn(type='submit', name='submitButton', value='signin') Sign in
                button.btn(type='submit', name='submitButton', value='register') Register 
                
    .container
          
      p.flash.info
        - if(info && info != "")
           = info
      p.flash.error
        - if(error && error != "")
           = error
               
      block content
    
    script(src='/javascripts/jquery.js')    
    script(src='/javascripts/bootstrap-transition.js')
    script(src='/javascripts/bootstrap-alert.js')
    script(src='/javascripts/bootstrap-modal.js')
    script(src='/javascripts/bootstrap-dropdown.js')
    script(src='/javascripts/bootstrap-scrollspy.js')
    script(src='/javascripts/bootstrap-tab.js')
    script(src='/javascripts/bootstrap-tooltip.js')
    script(src='/javascripts/bootstrap-popover.js')
    script(src='/javascripts/bootstrap-button.js')
    script(src='/javascripts/bootstrap-collapse.js')
    script(src='/javascripts/bootstrap-typeahead.js')


