doctype 5
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= 'Spimr - ' + title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    
    |<style type="text/css">
    |body {
    |    padding-top: 60px;
    |    padding-bottom: 40px;
    |  }
    |</style>

    script(src='/javascripts/jquery.js')
    script(src='/javascripts/jquery.qrcode.js')
    script(src='/javascripts/qrcode.js')
    
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.css')

    script(src='/javascripts/bootstrap.js')

    |<script type='text/javascript'>
    |$(document).ready(function () {
    |  if ($(".tooltips").length) {
    |    $(".tooltips").tooltip();
    |  }
    |});
    |</script>
      
    link(rel='apple-touch-icon-precomposed', size='144x144', href='/ico/apple-touch-icon-144-precomposed.png')
    link(rel='apple-touch-icon-precomposed', size='114x114', href='/ico/apple-touch-icon-114-precomposed.png')
    link(rel='apple-touch-icon-precomposed', size='72x72', href='/ico/apple-touch-icon-72-precomposed.png')
    link(rel='apple-touch-icon-precomposed', href='/ico/apple-touch-icon-57-precomposed.png')
    link(rel='shortcut icon', href='/ico/favicon.png')
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container
          button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          
          a.brand(href='/')
            |Spimr

          .nav-collapse.collapse
            ul.nav
              if locals.path == '/about'
                li.active
                  a(href='/about') About
              else
                li
                  a(href='/about') About
              
              if locals.path == '/spimes'
                li.active
                  a(href='/spimes')
                    |Public Spimes
              else
                li
                  a(href='/spimes')
                    |Public Spimes

              if locals.user_id
                if locals.path == '/spimes/new'
                  li.active
                    a(href='/spimes/new')
                      |New Spime
                else
                  li
                    a(href='/spimes/new')
                      |New Spime
                if locals.path == '/spimes/mine'
                  li.active
                    a(href='/spimes/mine')
                      |My Spimes
                else
                  li
                    a(href='/spimes/mine')
                      |My Spimes
            
            if (locals.user_id)
              form.navbar-form.pull-right(action='/sessions', method='post', name="logout")
                input(type='hidden', name='_method', value='delete')
                button.btn(type='submit') Logout
              ul.nav.pull-right
                if locals.path == '/account/me'
                  li.active
                    a(href='/account/me')
                      =locals.user_email
                else
                  li
                    a(href='/account/me')
                      =locals.user_email
            else
              form.navbar-form.pull-right(action='/sessions', method='post', name="login")
                input.span2(type='text', name='email', placeholder='Email') 
                input.span2(type='password', name='password', placeholder='Password') 
                button.btn(type='submit', name='submitButton', value='signin') Sign in
                button.btn(type='submit', name='submitButton', value='register') Register 
      
    .container
          
      - if(info && info != "")
        p.flash.info.alert.alert-success
          !{info}
      - if(error && error != "")
        p.flash.error.alert.alert-error
          !{error}
    
      block content
        
    if (locals.google_analytics_account)
      include _google_analytics

