extends ../../../views/layout

block content
  h1= title
  
  :markdown
   
    Spimr is a web app that’s designed to help the dumb things of the 
    world get a little closer to their full potential. The goal is 
    to transform everyday objects into spimes.
    
    Spimr is a work in progress.
  
    If you don’t know what a spime is, you can read about them in 
    the book [Shaping Things](http://mitpress.mit.edu/books/shaping-things) 
    by [Bruce Sterling](http://www.wired.com/beyond_the_beyond/), the 
    writer and design critic who invented the word 'spime.'
    
    Spimr is also an experiment in contemporary web technologies. 
    Meatfreezer Apps is developing the web app in public on 
    [github](http://github.com/alexshepard/spimr) using Node.js, 
    MongoDB, and Bootstrap. You can always find the current version 
    of Spimr hosted on Heroku, available at [www.spimr.com](http://www.spimr.com)
