extends ../../../views/layout

block content  
  div.hero-unit
    h1 Join the Internet of Things!
    p.lead Using Object Hyperlinking to give a sense of history, uniqueness and intelligence to your everyday objects.
      
  hr
  
  div.row-fluid
    div.span6
      
      h4 What's a Spime?
      p
        :markdown
          A spime is a physical object that can be tracked through space and 
            time. It is a resident of the Internet of Things. Check out the 
            book [Shaping Things](http://mitpress.mit.edu/books/shaping-things) 
            by [Bruce Sterling](http://www.wired.com/beyond_the_beyond/) 
            for a detailed exploration of the topic.
      
      h4 What's the Internet of Things?
      p
        :markdown
          The Internet of Things contains a bunch of uniquely identifiable 
          objects and their virtual representations in an Internet-like 
          structure. Check out the article 
          [That 'Internet of Things' Thing](http://www.rfidjournal.com/articles/view?4986) 
          by [Kevin Ashton](https://twitter.com/Kevin_Ashton) for more details
          and the history of the term.

      h4 What's Object Hyperlinking?
      p
        :markdown
          Object hyperlinking uses Arphids (aka RFID) or QR Codes to link
          a physical object with an online profile. In the same way that a 
          person might have a Facebook page or a Twitter feed, with object
          hyperlinking an object can have a presence on the internet where
          people can learn about the object.

    div.span6
    
      h4 How It Works
      p 
        :markdown
          Create a new spime, print the provided QR Code, and slap it on 
          your object! Congratulations, your object is now a spime and a 
          resident of the Internet of Things. 
          
          Your spime can be tracked, learn about its manufacturing 
          history and report on how it can be safely used. When it's 
          ready to be disposed of, it can learn how to 
          recycle itself!

      h4 Why It Matters
      p 
        :markdown
          The things around us are stupid. People how use the things have no
          idea how safe they are, whether they were manufactured in an ethical
          manner, and how to dispose of them. Spimr uses object hyperlinking 
          to add your objects to the Internet of Things, where these
          issues can be addressed.
      
      h4 Try It Now
      p Register for a new account and start creating spimes today.
