body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

p.flash.error {
  color: red;
}

p.flash.info {
  color: green;
}

.navbar-form .span2 {
  margin-right: 4px;
}

.navbar-form .btn {
  margin-right: 4px;
}

.avatar {
  border-radius: 10%;
  -moz-border-radius: 10%;
  -webkit-border-radius: 10%;
} 

#map-canvas img {
  max-width: none;
}

#map-canvas label { 
  width: auto; display:inline; 
} 