<div class="spime-details">
  <p>Details: <%= @spime.description %></p>
  <p>Image: <%= @spime.image %></p>
  <p>Privacy:
  <% if @spime.public %>
    Public
  <% else %>
    Private
  <% end %>
  <p>Materials: <%= @spime.materials %></p>
  <p>Manufacturing Date: <%= @spime.date_manufactured %></p>
  
</div>