form.form-horizontal(action='/spimes', method='post')
  div.control-group
    label.control-label(for='inputName') Name
    div.controls
      input(type='text', id='inputName', name='name', placeholder="What's it called?")

  div.control-group
    label.control-label(for='inputDescription') Description
    div.controls
      textarea(id='inputDescription', name='description', placeholder="What's its story?")

  div.control-group
    label.control-label(for='inputPrivacy') Privacy
    div.controls
      select(name='privacy')
        privacies = [ 'public', 'private' ]
        for privacy in privacies
          option(selected=spime.privacy == privacy) #{privacy}
  
  if (locals.is_admin)
    div.control-group
      label.control-label(for='count') Count
      div.controls
        input(type='text', id='count', name='count', placeholder="Create how many?")
  
  div.control-group
    div.controls
      button.btn(type='submit') Create
