body {
  width: 600px;
  margin: 20px auto;
  background-color: #668b66; 
  color: #333;
}

body, p, ol, ul, td {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size:   16px;
  line-height: 24px;
  color: white;
}

a { 
  color: #ccc;
  border-bottom: 1px solid #888;
  text-decoration: none;
}
a:visited { color: #999; }
a:hover { color: #fff; }

a.icon {
  opacity: 0.4;
  border-bottom: none;
}

a.icon:hover {
  opacity: 1.0;
  background-color: transparent;
}

a.icon img {
  border: none;
}

header p {
  padding-left: 6px;
  color: #eee;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: normal;
}

.spime h3 {
  color: #6699ff;
  padding-left: 6px;
}

.spime-details p {
  color: #ffc;
  padding-left: 16px;
}


label {
  color: #ccc;
}

.odd {
  background-color: #373737;
}

p.addlink {
  text-align: right;
}
